#calc-display{
    background-color: aquamarine;
    width: 390px;
    height: 100px;
    margin: 25px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    :first-child {
        margin-left: 20px;
    }
    :last-child {
        margin-right: 20px;
    }
}