/* #keypad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
}

#number-btns {
    justify-content: start;
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
} */

button {
    background-color:aliceblue;
    margin: 5px;
    width: 80px;
    height: 30px;
}

#keypad {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}