.digit {
    background-color: rgb(123, 236, 198);
    height: 24px;
    width: 24px;
    z-index: 1;
    margin: 10px;
    margin-bottom: 0px;
    line-height: 23px;
    color: rgb(3, 76, 52);
    font-weight: 600;
    font-size: 16px;
}