#calc-body{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 500px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: start;
}